@import url("./assets/css/components.css");
@import url("./assets/css/header.css");
@import url("./assets/css/banner.css");
@import url("./assets/css/sobre.css");
@import url("./assets/css/footer.css");
@import url("./assets/css/modal.css");
@import url("./assets/css/contato.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0 auto;
  font-size: clamp(16px, 2vw, 25px);
}